.content{
    width: 80%;
    align-self: center;
    margin: auto;
    display: flex;
    background-color:hsl(237, 63%, 64%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    z-index: 9;
    flex-wrap: wrap;
    overflow: hidden;
}

.plan_card{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}

.card{
    color: black;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px hsl(240, 78%, 98%);
    padding-bottom: 20px;
    z-index: 2;
    overflow: hidden;
    flex: 1 300px;
}

.professional{
    color: white;
    width: 28%;
    height: 440px;
    background:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    z-index: 9;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 12;
}

.switch{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 10px 0;
}

.slider{
    display: flex;
    align-items: center;
    height: 30px;
    width: 60px;
    cursor: pointer;
    background:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 50px;
    margin: 0 10px;
    animation-name: move;
}

.btn{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    transition: 1s;
}

.price{
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 2em;
}
#basic_price, #master_price{
    font-size: 1.3em;
    margin-left: 10px;
}

#professional_price{
    font-size: 1.4em;
    margin-left: 10px;
}

.learn_more a{
    display: flex;
    color: white;
    background:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
}

.learn_more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.learn_more > a{
    width: 90%;
    height: 35px;
}

.professional > .learn_more a{
    background: white;
    color: hsl(237, 63%, 64%);
}

li{
    list-style: none;
    font-size: 15px;
}

hr{
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 375px) {
    .content{
        display: flex;
        font-size: 35px;
        width: 100vw;
        justify-content: center;
    }
  
    .plan_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .price{
      
        font-size: 65px;
    }

    #basic_price, #master_price{
        font-size: 1.2em;
    }

    #professional_price{
        font-size: 1.2em;
    }

    li{
        font-size: 25px;
    }

    .card{
        margin: 30px;
        width: 80%;
        flex: 1;

    }

    .learn_more > a{
        width: 80%;
        height: 35px;
    }

  }

  @media only screen and (max-width: 768px) {
    .content{
        display: flex;
        font-size: 0.7em;
        width: 100vw;
        justify-content: center;
    }
  
    .plan_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .price{
      
        font-size: 1.2px;
    }

    #basic_price, #master_price{
        font-size: 0.8em;
    }

    #professional_price{
        font-size: 1.2em;
    }

    li{
        font-size: 0.8em;
    }

    .card{
        margin: 30px;
        width: 80%;
        flex: 1;

    }

    .learn_more > a{
        width: 80%;
        height: 35px;
    }
  }

  @media only screen and (max-width: 968px) {
    .content{
        display: flex;
        font-size: 0.6;
        width: 80%;
        justify-content: center;
    }
  
    .plan_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .price{
      
        font-size: 3em;
    }

    #basic_price, #master_price{
        font-size: 0.8em;
    }

    #professional_price{
        font-size: 0.9em;
    }

    li{
        font-size: 0.8em;
    }

    .card{
        margin: 1em;
        width: 80%;
        flex: 1;

    }

    .learn_more > a{
        width: 80%;
        height: 35px;
    }
  }
  
  @media only screen and (min-width: 968px) {
    .content{
        display: flex;
        font-size: 0.6;
        width: 80%;
        justify-content: center;
    }
  
    .plan_card {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .price{
      
        font-size: 3em;
    }

    #basic_price, #master_price{
        font-size: 0.8em;
    }

    #professional_price{
        font-size: 0.9em;
    }

    li{
        font-size: 0.8em;
    }

    .learn_more > a{
        width: 80%;
        height: 35px;
    }
  }

 .content{
      padding-bottom: 30px;
      background: url('./images/bg-bottom.svg') left bottom no-repeat, url('./images/bg-top.svg') right top no-repeat;
  }